body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FAFAFA;
}

/* Header Section */

header{
    padding: 30px 240px;
}

nav{
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: baseline;
}

.title,.title-intro{
    width: 50%;
}

.title h1{
    font-family: 'PT Serif', serif;
    font-size: 3vw;
}

.title-intro h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
}

.title-intro p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
}

/* Main Section */

.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 45px;
    padding-top: 55px;
}

.img-card{
    width: 250px;
    height: 400px;
    flex: 1 1 30%;
    position: relative;
    padding: 0px 7px;
    box-sizing: border-box;
    margin: 10px 0px;
}

.img{
    max-width: 90%;
    height: auto;
}

.img-desc h1{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.img-title h1{
    font-family: 'PT Serif', serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.img-title{
    position: absolute;
    top: 0;
    right: 0;
}


.img-card:nth-child(2),
.img-card:nth-child(5){
    transform: translateY(30%);
}